{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
{% include "auctions/messages.html" %}


<div>
    <ul>

        <h2>Categories</h2>

        {% for category in categories %}

        <ul>
            <li>
                <!-- Need to pass in the category name and then display all active listings that use that category. -->
                <!-- Pass in a string with category name in the view -->
                  {% if category.category != '' %}

                <a href="{% url 'displayCategoryListings' category.category %}">{{ category.category }}</a>


                {% endif %}
            </li>

        </ul>

        {% endfor %}


</div>

{% endblock %}