{% extends "auctions/layout.html" %}
{% load static %}

<!-- Filter out those listings that are not active -->
<!--  if listing.active == True -->

{% block body %}

<h5>This is the category listing page!</h5>

<!-- "listings" is the queryset that you return.  "listing" is just one object in the queryset. -->
{% for listing in listings %}

<!-- Filter out those listings that are not active -->
{% if listing.active == True %}

<!-- TODO: Still need to filter out the categories. -->


<div>
    <ul>

</div>

<div>
    <ul>
        <!-- "listings" is the queryset that you return.  "listing" is just one object in the queryset. -->

        <li>
            <h5>{{ listing.title}}</h5>
        </li>
        <li><img src="{{ listing.url}}" alt="" width="200" height="200" /></li>
        <li>Description: {{ listing.description}}</li>
        <li>Starting bid: ${{ listing.startingBid}}</li>
        <li>Created: {{ listing.createdDate}}</li>
        <li>Category: {{ category }}</li>

    </ul>

</div>

{% endif %}

{% endfor %}

{% endblock %}