{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}


<div>
    <ul>

        <h2>Categories</h2>

        {% for category in categories %}

        <ul>
            <li>
                <!-- Need to pass in the category name and then display all active listings that use that category. -->
                <!-- Pass in a string with category name in the view -->
                <!-- TODO: There is an error here is there is no category for the listing. -->
                {% if category.category != '' %}

                <a href="{% url 'displayCategoryListings' category.category %}">{{ category.category }}</a>

                {% endif %}
            </li>

        </ul>

        {% endfor %}


</div>

{% endblock %}