{% extends "auctions/layout.html" %}
{% load static %}

<!-- Filter out those listings that are not active -->
<!--  if listing.active == True -->

{% block body %}

<h2>Categories</h2>

<!-- "listings" is the queryset that you return.  "listing" is just one object in the queryset. -->
{% for listing in listings %}

<!-- Filter out those listings that are not active -->
{% if listing.active == True %}

<!-- TODO: Still need to filter out the categories.  Display message if there is nothing in the category -->

<div>
    <ul>

</div>
<!-- Filter for the categories -->
<div>
    {% if listing.category == category %}
    <ul>
        <li>
            <h5>{{ listing.title}}</h5>
        </li>
        <li><img src="{{ listing.url}}" alt="" width="200" height="200" /></li>
        <li>Description: {{ listing.description}}</li>
        <li>Price: ${{ listing.startingBid}}</li>
        <li>Created: {{ listing.createdDate}}</li>
        <li>Category: {{ category }}</li>

    </ul>
    {% endif %}
</div>

{% endif %}

{% endfor %}

{% endblock %}