{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}

<h2>Active Listings</h2>

<!-- "listings" is the queryset that you return.  "listing" is just one object in the queryset. -->
{% for listing in listings %}

<!-- Filter out those listings that are not active -->
{% if listing.active == True %}

<div>
    <p>
        <img src="{{ listing.url}}" alt="" width="200" height="200" />
    </p>

</div>

<div>
    <ul>
        <!-- "listings" is the queryset that you return.  "listing" is just one object in the queryset. -->
        <li>
            <h5>{{ listing.title}}</h5>
        </li>
        <li>Description: {{ listing.description}}</li>
        <li>Starting bid: ${{ listing.startingBid}}</li>
        <li>Created: {{ listing.createdDate}}</li>
        <!-- listing.id is passed to the listings method in views.py -->
        <li><a class="btn btn-primary" href="{% url 'listings' listing.id %}">More Info</a></li>
    </ul>

    <hr>


</div>

{% endif %}

{% endfor %}
{% endblock %}