{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}

<!-- this is an active listing since it was previously filtered out. -->


<div>
    <ul>
        <!-- "listings" is the queryset that you return.  "listing" is just one object in the queryset. -->

        <li>
            <h5>{{ listing.title}}</h5>
        </li>
        <li><img src="{{ listing.url}}" alt="" width="200" height="200" /></li>
        <li>{{ listing.description}}</li>
        <li>${{ listing.startingBid}}</li>
        <li>Created {{ listing.createdDate}}</li>
        <!-- listing.id is passed to the listings method in views.py -->
        <li><a class="btn btn-primary watchlist" href="{% url 'watchlist' listing.id %}">Add to watchlist</a></li>
    </ul>
</div>

<!-- Call the submit bid method. -->
<div><form action="" method="post">
    {% csrf_token %}

    {{bidForm}}

    <input class="btn btn-primary" type="submit" value="Submit Bid">

</form></div>


<!-- Call the submit comment method. -->
<div><form action="" method="post">
    {% csrf_token %}

    {{commentForm}}

    <input class="btn btn-primary" type="submit" value="Submit Comment">

</form></div>


{% endblock %}