{% extends "auctions/layout.html" %}
{% load static %}

<!-- Filter out those listings that are not active -->
<!-- % if listing.active == True % -->
{% block body %}
{% include "auctions/messages.html" %}

<!-- Use a for loop and an if statement to determine if should display the item -->

<h2>Watch List</h2>

{% for x in listingsForWatcher %}

<div>
    <p>
        <img src="{{ x.url }}" alt="" width="200" height="200" />
    </p>

</div>
<div>
    <ul>
        <!-- "allListings" is the queryset that you return.  "listing" is just one object in the queryset. -->
        <li>
            <h5>{{ x.title}}</h5>
        </li>
        <li>Description: {{ x.description}}</li>
        <li>Price: ${{ x.startingBid}}</li>
        <li>Created: {{ x.createdDate}}</li>
        <!-- listing.id is passed to the listings method in views.py -->
        <li><a class="btn btn-primary" href="{% url 'listings' x.id %}">More Info</a></li>
    </ul>
</div>

{% empty %}
    <p>There are currently no items in your watchlist.</p>


{% endfor %}

{% endblock %}