body {
    padding: 10px;
}

ul {
    list-style: none;
    padding-left: 0px;
}

label {
     margin-top: 15px;
}

a {

    text-decoration: none;
}

a.btn.btn-primary.watchlist:visited {

    /* color:grey; */
    /* background-color: grey; */
    /* content: "Unwatch"; */

}

#container_card {

    width: 25rem;
}

#container_card_listing {

    width: 40rem;
}
input.btn.btn-primary.test {

    width: 132px;
    margin-top: 10px;
}

input.btn.btn-primary {

    display: flex;
}

#id_text {
    margin-top: 10px;
}

#id_bid {

    margin-bottom: 10px;
}

#formCreateListing {
    display: flex;
    flex-direction: column;
    width: 70%

}

.UserComments {

    padding-top: 30px;

}